body {
    
    background-color: white;
}

.bodyContainer{
width: 900px;
margin-left: auto;
margin-right: auto;


}

.navigation {
  font-family: "Playfair Display";
  font-size: 14px;
  text-transform: uppercase;
  margin: 77px 0px 0px 0px;

}

.navigationComponent {
 display: inline-block;
  margin: 0px 78px 0px 78px;
}

li a {
  text-decoration: none;
  color:  #626262;
}

h3 {
  font-family: Ubuntu;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 32px 0px;
  color: #b4ad9e;

}

h2 {
  font-family: "Playfair Display";
  font-size: 30px;
  font-weight: 400;
  color: #626262;
  /*line-height: 1.2;*/
  margin: 0px;
}

.text {
  font-family: "Playfair Display";
  font-size: 16px;
  line-height: 24px;
 
 text-align: left;
  margin: 34px 0px 0px;
}

section {
  position: absolute;
  width: 420px;
}

.left1 {
  top: 192px;
  
}

.right1 {
  left: 980px;
  top: 192px;
  margin-right: 0px;
}

.left2 {
  top: 801px;
}

.right2 {
  top: 801px;
  left: 980px;
  margin-right: 0px;
}

.left3 {
  top: 1417px;
}

.right3 {
  top: 1417px;
  left: 980px;
  margin-right: 0px;
}


button{

    position: absolute;
    left: 900px;
    top: 1949px;
    bottom: 20px;
    font-size: 20px;
    font-family: 'Playfair Display';
    color: #626262;
    line-height: 1.2;
    background-color: transparent;
    border: 1px solid #626262;
    width: 162px;
    height: 58px;
    /* display: inline-block; */
    margin: 0 auto;
 
}
  .capital {
    text-transform: capitalize;
  }


  
